:root {
	--primary: #AD8350;
	--background: #2A1A1F;
	--highlight: #AFA060;
	--secondary: #764134;
	--headerFont: 'Roboto Mono';

	--charcoal: #424651;
	--gray: #9f9fad;
	--paleBlue: #aecfdf;
	--tiffanyBlue: #81e4da;
	--aquaMarine: #47e5bc;

}

/* some css color variables*/

* {
	background-color: black;
}


h1 {
	color: var(--aquaMarine);
}

/*p {
font-family: var(headerFont), monospace;
}*/

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
